{% extends 'aplicacion/home.html' %}  <!-- Exrendemos el html de Home a esta página-->

{% block descripcion %}
<h1> Lista de Inventario </h1> 
{% endblock descripcion %}

{% block contenido %}
<a href="http://localhost:8000/aplicacion/maquina_create/" class="btn btn-primary">Agregar Maquina</a> <!-- Boton para redireccionar la página-->

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Area</th>
                <th>Modificar/Borrar</th>
            </tr>
        </thead>
        <tbody>
    {% for m in maquina_list  %}
            <tr>
                <td>{{ m.id }}</td>
                <td>{{ m.nombre }}</td>
                <td>{{ m.marca }}</td>
                <td>{{ m.area }}</td>
                <td>
                    <a
                    href="{% url 'maquina_update' m.id %}"
                    class="btn btn-primary"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                    ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                  </a>
                  <a
                    href="{% url 'maquina_delete' m.id %}"
                    class="btn btn-danger"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                    ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                  </a>  
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}
    
    